<ion-content [fullscreen]="true">
  <ion-grid slot="fixed">
    <ion-row *ngIf="!isExpanded">
      <ion-col size="4"><img src="assets/imgs/earnings-donut.png" alt="Ganhos"></ion-col>
      <ion-col size="6">
        <span>GANHOS NESTE MÊS</span>
        <p>Seus gastos estão quase superando seus ganhos!</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isExpanded">
      <ion-col size="6">
        <span>GASTOS NESTE MÊS</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-col>
      <ion-col size="4"><img src="assets/imgs/spenditures-donut.png" alt="Gastos"></ion-col>
    </ion-row>

    <ion-row *ngIf="isExpanded">
      <ion-col>
        <span>GANHOS</span>
        <div>
          <p>{{ convertNumber.format(1000) }}</p>
          <ion-icon name="arrow-up"></ion-icon>
        </div>

        <img src="assets/imgs/earnings.png" alt="Ganhos" width="100%" height="300px">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isExpanded">
      <ion-col>
        <span>GASTOS</span>
        <div>
          <p>{{ convertNumber.format(1000) }}</p>
          <ion-icon name="arrow-down"></ion-icon>
        </div>

        <img src="assets/imgs/spenditures.png" alt="Gastos" width="100%" height="300px">
      </ion-col>
    </ion-row>

    <ion-icon id="#collapse" name="chevron-down" (click)="toggleDetails()"></ion-icon>
  </ion-grid>

  <ion-virtual-scroll [items]='transactions' [headerFn]="myHeaderFn">
    <ion-item-divider *virtualHeader="let header">
      <ion-label>{{ header }}</ion-label>
    </ion-item-divider>

    <ion-item *virtualItem="let transaction;" lines="none">
      <ion-icon name="add"></ion-icon>

      <ion-label>
        <span>
          {{ transaction.title.toUpperCase() }}
        </span>
        {{ transaction.category.toUpperCase() }}
      </ion-label>

      <p [ngStyle]="{'color': (transaction.type === 'income') ? 'green' : 'red'}">
        {{ transaction.type === 'income' ? convertNumber.format(transaction.value) : convertNumber.format(-transaction.value) }}
      </p>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>