 

<ion-content [fullscreen]="true">
  <!-- <div class="topbar-wrapper">
    <div *ngIf="isVisible" class="ng-hide topbar">
      <img class="topbar-icons spent" src="{{spentIcon}}"/>
      <h3><strong>Gastos esse mês</strong></h3>
      <p class="spent-text">R$ {{ spent }}</p>
      <p>{{ desc }}</p>
      <h3><strong>Ganhos esse mês</strong></h3>
      <img class="topbar-icons saved" src="{{savedIcon}}"/>
      <p class="saved-text">R$ {{ saved }}</p>
      <p>{{ objective }}</p>
    </div>
  </div> -->
<!--   <div class="topbar-button-div" (click)="expandTopBar()">
    <img id="topbar-button" src="{{buttonArrow}}"/>
  </div> -->
  <div class="game-div-room">
      <img src="{{ playerRoom }}" class="player-room-img">
      <img src="{{ playerImg }}" class="player-img">
      <div class="game-objects">
        <ion-img *ngFor="let object of arrayObjects">
          <img src="{{ object.img }}" class="{{ object.class }}"/>
        </ion-img>
      </div>
  </div>

  <div class="cart-div">
    <img src="./assets/icon/cart-outline.svg" class="cart-button"/>
  </div>
  <div class="friends-div">
    <img src="./assets/icon/people.svg" class="friends-button"/>
  </div>
  <div class="add-transation-div">
    <img src="./assets/icon/add-outline.svg" class="friends-button"/>
  </div>
</ion-content>
