ion-card {
    width: 90%;
    margin-bottom: 30px;
    border-radius: 40px;
    box-shadow: 1px 8px 28px rgba(0, 0, 0, 0.12);
}

.card-wrapper {
    background-color: #13B74A;
    padding-top: 20px;
    padding-bottom: 50px;
}

.card-image {
    // width: 372px;
    // height: 280px;
}