ion-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 40px;
    box-shadow: 1px 8px 28px rgba(0, 0, 0, 0.12);
}

.card-wrapper {
    background-color: #13B74A;
    padding-top: 20px;
    padding-bottom: 50px;
}

.card-content {
    margin: 0px 15px 20px 15px;
}

.card-header{
    padding: 0px 0px 20px 0px;
}

.card-image{
    height: 155px;
    padding: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

ion-card-title{
    margin-bottom: 10px;
}