<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-wrapper">
    <ion-card *ngFor="let tip of tipsArray; let i = index">
      <ion-card-header>
        <ion-img [src]="tip.image" class="card-image"></ion-img>
        <ion-card-subtitle> {{ tip.subtitle }} </ion-card-subtitle>
        <ion-card-title> {{ tip.title }} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ tip.content }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
